.lead-infos {
  width: 90%;
  h1 {
    padding-top: 10px;
    vertical-align:middle;
    margin:auto;
  }
}

.customTable {
  width: 100%;
  padding-left: 20px;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  color: #000000;
  margin-left: 0;
  margin-top: 10%;
  border-radius: 5px;
}

.customTable td, .customTable th {
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  padding: 5px;
}

.customTable thead {
  background-color: #7ea8f8;
}
